page-notas {

    

    .customClass{
        color:#e74c3c !important;
       }

       .titulo{
        font-size: 4em;
        color: #e74c3c;
       }

       .fondo{
        background-color: #191919;
        }
        .card{
            background-color: #393939;
        }

}
