
<ion-header class="spacer">
    <div class="spacer" style="height: 10px;"></div>   
  <ion-navbar class="spacer">
      
    <ion-title>
      {{ viewTitle }}
    </ion-title>

 <ion-buttons end>
    <button ion-button icon-only (click)="abrirAlert()">
      <ion-icon name="add"></ion-icon>
  </button>
</ion-buttons>
  </ion-navbar>
</ion-header>




<ion-content>

  <calendar 
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="OnViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)"
  step="30"
  class="calendar">
  </calendar>


  <div class="ocultarnoevents"></div>
  <div class="eventos">


      <ion-list>
        
          <ion-card *ngFor="let evento of eventosChidos" (click)="mostrarEvento(evento.id_evento)">
                <div *ngIf="evento.saldo != 0; else pagado" class="cardnopadaga">
                    <ion-card-header color="light">{{evento.hora_envio_evento}} | {{evento.nombre_evento}}</ion-card-header>
                    <ion-card-content color="light">{{evento.tipo_evento}}</ion-card-content>   
                  </div>
                  <ng-template #pagado class="cardpadaga">
                      <ion-card-header>{{evento.hora_envio_evento}} | {{evento.nombre_evento}}</ion-card-header>
                      <ion-card-content>{{evento.tipo_evento}}</ion-card-content>   
                  </ng-template>
          </ion-card>
      </ion-list>

  
      
    
      

  </div>
  
  

  

</ion-content>
