page-home {



   
    .ocultarnoevents{
        position:absolute;
        width: 100%;
        height: 30px;
        background-color: white;
        top: 49%;

    }
    .eventos{
        position:absolute;
        width: 100%;
        top: 48%;
    }
    
}
